html, body {
   height: 100%;
}

/* Navbar */
#brand-logo{
   width: 50px;
}

.navbar.navbar-expand-lg{
   background-color: #000;
   font-weight: bold;
}

.navbar.navbar-expand-lg a {
   color: #FFF;
}

/* Home */
#main-banner{
   background-image: url('../img/pizza-banner.jpg');
   height: 300px;
   background-position: center;
   background-size: cover;
   width: 100%;
   background-position-y: -300px;
   display: flex;
   align-items: center;
   justify-content: center;
}

#main-banner H1{
   color: #FFF;
   background-color: #000;
   text-align: center;
   padding: 30px;
   width: 550px;
   font-size: 50px;
}

#main-container{
   margin-bottom: 100px;
   padding: 50px 0;
   text-align: center;
   min-height: 50%;
}

#main-container h2{
   margin-bottom: 30px;
}

.row{
   margin: 0;
}

#pizza-form{
   max-width: 550px;
   margin: 0 auto;
   text-align: left;
}

#pizza-form label {
   font-weight: bold;
}

.btn.btn-primary{
   background-color: #000;
   border-color: #000;
}

/* Alerta */
.alert{
   border-radius: 0;
   text-align: center;
   margin-bottom: 0;
   font-weight: bold;
   padding: 20px;
   font-size: 18px;
}

.alert.alert-success{
   border: 2px solid #155724;
}

.alert.alert-warning{
   border: 2px solid #856404;
}

.alert p {
   margin-bottom: 0;
}

/* Footer */
footer{
   position: relative;
   width: 100%;
   height: 120px;
   background-color: #000;
   color: #FFF;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: bold;
}